/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
*.bundle
*.so
*.o
*.a
mkmf.log
*.gem
.ruby-version
spec/test-apps/*/log/
spec/test-apps/*/tmp/
spec/test-apps/*/db/schema.rb
